:root {
    --light: #f4f4f4;
    --grey: #e0e0e0;
    --dark: #333;

    --nred: #e4002b;
    --nyellow: #ffd659;
    --nblue: #007ac2;

    --main-background: #f7f7f7;
    --main-background: #f1f1f1;
    --main-light: #ffffff;
    --main-dark: #e1e1e1;

    --main-green: #00a652;
    --main-green: #00118f;
    --light-green: #b8e3ce;
    --light-green: #a3adf9;
    --proba: #dcefe8;

    /* --main-font: 'Poppins', sans-serif; */
    --main-font: 'Apple SF Pro', sans-serif;
    --font-color: black;
    --font-color-mid: #555;
    --grey-font: #ababab;

    --button-color-dark: #7d7d7d;
    --button-color-light: #e0e0e0;
    --button-color-hover: #e0e0e0;

    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 800;
}



/* dark theme */
@media(prefers-color-scheme: dark) {
    :root {
        --layer0: #434343;
        --layer1: #222222;
        --layer2: #111111;

        --accent0: blue;
        --accent1: red;

        --font-color: black;
        --font-color-hover: white;
    }
}

[data-theme="dark"] {
    --layer0: #434343;
    --layer1: #2d2d2d;
    --layer2: #111111;
    --accent0: blue;
    --accent1: red;
    --font-color: white;
    --font-color-hover: black;

    --main-background: #1E1E1E;
    --grey-font: #F0F0F0;
    --main-green: #4169e1;
    --light-green: #3F51B5;

    --main-dark: #5e5e5e;

}

:global {

    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--main-font);
        font-weight: 500;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: var(--main-font);
        color-scheme: dark light;
    }

    header,
    footer,
    nav,
    main,
    section {
        container-type: inline-size;
    }

    @container (min-width: 40rem) {
        h1 {
            font-family: var(--main-font);
        }
    }
}




.headings {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    align-self: start;
}




#main-section {
    min-width: 500px;
    grid-area: centar;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}





form {
    display: grid;
    gap: 10px;
    padding: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}