:root {
    --light: #f4f4f4;
    --grey: #e0e0e0;
    --dark: #333;

    --nred: #e4002b;
    --nyellow: #ffd659;
    --nblue: #007ac2;

    --main-background: #f7f7f7;
    --main-background: #f1f1f1;
    --main-light: #ffffff;
    --main-dark: #e1e1e1;



    /* --main-green: #007ac2; */
    /* --main-green: #e4002b; */
    --main-green: rgb(237, 63, 28);
    --light-green: var(--main-dark);
    --proba: #dcefe8;

    /* --main-font: 'Poppins', sans-serif; */
    --main-font: 'Apple SF Pro', sans-serif;
    /* --main-font: 'Poppins', sans-serif; */
    --mono-font: 'Apple SF Mono';
    --font-color: black;
    --font-color-mid: #555;
    --grey-font: #ababab;

    --button-color-dark: #7d7d7d;
    --button-color-light: #e0e0e0;
    --button-color-hover: #e0e0e0;

    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    --border1: #d6d6d6 1px solid;
    --border-card: 1px solid rgb(214, 214, 214);
    --border-metric-divider: #e4e4e4 1px solid;

    --nav-icon-color: grey;
    --playback-control-color: rgb(0, 0, 0);
    --playback-button-color: invert(0.5);
    --border-progress-bar: var(--border1);

    --border-radius1: 30px;
    --border-radius2: 15px;
    --border-radius3: 7.5px;
    --card-padding: 15px;

    --video-background: #222222;


    --stop-number-color: black;

    --metric-color: black;
    --metric-color-empty: rgb(186, 186, 186);
    --metric-hover-color: rgb(236, 235, 235);
    --metric-group-priority-color: rgb(205, 205, 205);
    --metric-scroll-color: var(--main-dark);

}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Apple SF Pro';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Apple SF Mono';
    src: url('/fonts/SF-Mono/SFMonoRegular.otf') format('opentype');
    font-weight: 400;
}


/* dark theme */
@media(prefers-color-scheme: dark) {
    :root {
        --layer0: #434343;
        --layer1: #222222;
        --layer2: #111111;

        --accent0: blue;
        --accent1: red;

        --font-color: black;
        --font-color-hover: white;
    }
}

[data-theme="dark"] {
    --layer0: #434343;
    --layer1: #2d2d2d;
    --layer2: #111111;
    --accent0: blue;
    --accent1: red;
    --font-color: white;
    --font-color-hover: black;

    --main-background: #0f0f0f;
    --grey-font: #F0F0F0;
    /* --main-green: #e4002b; */
    --light-green: rgb(84, 84, 84);

    --main-dark: #222222;

    --border1: #3a3a3a 1px solid;
    --border1: 1px solid transparent;
    --border-card: 1px solid transparent;
    --border-metric-divider: #1b1b1b 1px solid;

    --nav-icon-color: grey;
    --playback-control-color: white;
    --playback-button-color: invert(0.5);
    --border-progress-bar: none;

    --video-background: #222222;

    --stop-number-color: white;

    --metric-color: white;
    --metric-color-empty: rgb(64, 64, 64);
    --metric-hover-color: rgb(20, 20, 20);
    --metric-group-priority-color: var(--main-dark);

}



:global {

    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--main-font);
        font-weight: 500;
    }


    body {
        background: var(--main-background);
        margin: 0;
        padding: 0;
        height: 100vh;
        font-family: var(--main-font);
        color-scheme: dark light;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 'nav main';
    }

    header,
    footer,
    nav,
    main,
    section {
        container-type: inline-size;
    }

    @container (min-width: 40rem) {
        h1 {
            font-family: var(--main-font);
        }
    }
}




.headings {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    align-self: start;
}




#main-section {
    min-width: 500px;
    grid-area: centar;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}





form {
    display: grid;
    gap: 10px;
    padding: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}